#
# Create an app in the Ditto Cloud Portal - https://portal.ditto.live
# These values can be found under the "Auth" tab.
#

DITTO_APP_ID = replace_with_your_app_id
DITTO_PLAYGROUND_TOKEN = replace_with_your_playground_token
DITTO_WEBSOCKET_URL = replace_with_your_websocket_url
