#
# Create an app in the Ditto Cloud Portal - https://portal.ditto.live
# These values can be found under the "Auth" tab.
#

DITTO_APP_ID = replace_with_your_app_id
DITTO_OFFLINE_TOKEN = replace_with_your_offline_license_token
DITTO_PLAYGROUND_TOKEN = replace_with_your_playground_token
DITTO_AUTH_PASSWORD = replace_with_your_auth_password
DITTO_AUTH_PROVIDER = replace_with_your_auth_provider
