#
# Create an app in the Ditto Cloud Portal - https://portal.ditto.live
# These values can be found in your app's settings.
#

DITTO_DATABASE_ID = replace_with_your_database_id
DITTO_DEVELOPMENT_TOKEN = replace_with_your_development_token
DITTO_URL = replace_with_your_url
